# Proyecto IMT2200 - Análisis de Datos

En este notebook, revisaremos y analizaremos los datos obtenidos hasta el momento, con el objetivo de responder las preguntas de investigación planteadas al inicio del proyecto. A lo largo de este análisis, profundizaremos en los distintos aspectos y patrones presentes en los datos para ofrecer conclusiones informadas y relevantes para cada pregunta de interés.

In [31]:
import pandas as pd
import seaborn as sns
import geopandas as gpd
import numpy as num

## Apertura de Datos Económicos

A continuación, procederemos a cargar los datos desde la carpeta que contiene la información recopilada sobre economía. Estos datos serán la base de nuestro análisis para explorar las tendencias y relaciones económicas clave en el contexto de nuestro proyecto.

In [32]:
%cd "datos de economia"

df_economia = pd.read_parquet("DataFrames_economia.parquet")

%cd ..

df_economia.info()
df_economia

c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024\datos de economia
c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 27 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   mes                                                                       78 non-null     datetime64[ns]
 1   1.PIB a precios corrientes                                                72 non-null     float64
 2   2.PIB volumen a precios del año anterior encadenado                       72 non-null     float64
 3   3.PIB volumen a precios del año anterior encadenado (desestacionalizado)  72 non-null     float64
 4   ingreso mediano real                                                      75 non-null     float64
 5   Mining                                                                    75 non-null     float64
 6   Manufacturing                                                             75 non-null     float64
 7   Electricity                                                               75 non-null     float64
 8   Water supply                                                              75 non-null     float64
 9   Construction                                                              75 non-null     float64
 10  Wholesale and retail trade                                                75 non-null     float64
 11  Transportation and storage                                                75 non-null     float64
 12  Accommodation and food service activities                                 75 non-null     float64
 13  Information and communication                                             75 non-null     float64
 14  Financial and insurance activities                                        75 non-null     float64
 15  Real estate activities                                                    75 non-null     float64
 16  Professional, scientific and technical activities                         75 non-null     float64
 17  Administrative and support service activities                             75 non-null     float64
 18  Public administration                                                     75 non-null     float64
 19  Education                                                                 75 non-null     float64
 20  Human health                                                              75 non-null     float64
 21  Arts and entertainment                                                    75 non-null     float64
 22  1.Fuerza de trabajo ( promedio móvil trimestral, miles de personas )      78 non-null     float64
 23  2.Empleo ( promedio móvil trimestral, miles de personas )                 78 non-null     float64
 24  3.Tasa  de  desempleo  (porcentaje)                                       78 non-null     float64
 25  indice de precios consumidor                                              78 non-null     float64
 26  indice de Precios Selectivo de Acciones                                   78 non-null     float64
dtypes: datetime64[ns](1), float64(26)
memory usage: 16.6 KB

,mes,1.PIB a precios corrientes,2.PIB volumen a precios del año anterior encadenado,3.PIB volumen a precios del año anterior encadenado (desestacionalizado),ingreso mediano real,Mining,Manufacturing,Electricity,Water supply,Construction,...,Administrative and support service activities,Public administration,Education,Human health,Arts and entertainment,"1.Fuerza de trabajo ( promedio móvil trimestral, miles de personas )","2.Empleo ( promedio móvil trimestral, miles de personas )",3.Tasa de desempleo (porcentaje),indice de precios consumidor,indice de Precios Selectivo de Acciones
0,2018-01-01,46986.271371,46511.870532,46837.401890,109.38,105.82,107.48,112.61,109.26,110.41,...,107.46,111.54,112.71,107.82,105.61,9438.115290,8793.922635,6.825437,74.27,5855.38
1,2018-02-01,46986.271371,46511.870532,46837.401890,108.97,105.75,107.39,110.06,109.40,110.93,...,103.69,111.32,112.85,108.88,104.70,9449.494321,8787.079741,7.010053,74.31,5602.83
2,2018-03-01,46986.271371,46511.870532,46837.401890,109.53,105.57,107.93,112.35,114.01,110.93,...,106.72,111.84,112.29,110.55,105.31,9456.608476,8759.080753,7.376088,74.46,5542.22
3,2018-04-01,47033.691982,47707.607554,47461.533987,109.84,107.08,108.77,110.00,110.75,111.72,...,105.35,111.71,112.48,110.81,105.57,9441.395486,8781.083740,6.993794,74.70,5710.90
4,2018-05-01,47033.691982,47707.607554,47461.533987,109.69,105.03,108.61,111.30,110.72,112.88,...,106.15,111.34,112.78,111.01,104.66,9465.329449,8766.651220,7.381446,74.90,5455.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2024-02-01,NaN,NaN,NaN,158.13,160.50,160.70,152.19,162.73,158.77,...,155.63,149.66,158.40,159.65,164.47,10174.908428,9309.608094,8.504257,102.32,6449.88
74,2024-03-01,NaN,NaN,NaN,159.19,163.57,161.52,159.05,163.00,159.10,...,156.55,150.97,160.43,161.30,167.77,10193.230625,9308.684701,8.677778,102.70,6643.76
75,2024-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10209.534117,9339.295511,8.523784,103.24,6511.93
76,2024-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10177.707624,9331.646959,8.312880,103.52,6632.80
77,2024-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10170.424862,9321.379688,8.348178,103.42,6413.88

## Carga de Datos del Índice de Criminalidad
A continuación, procederemos a cargar los datos almacenados en la carpeta que contiene información sobre los índices de criminalidad en las comunas de la Región Metropolitana de Chile. Estos datos servirán como base para nuestro análisis, permitiéndonos examinar las variaciones y tendencias en el contexto del proyecto.

In [33]:
%cd "datos de indice de criminalidad"

df_ind_crime = pd.read_parquet("DataFrames_total.parquet")

%cd ..

df_ind_crime.info()
df_ind_crime

c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024\datos de indice de criminalidad
c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024
<class 'pandas.core.frame.DataFrame'>
Index: 13104 entries, 1 to 84
Data columns (total 8 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Delitos violentos                         13104 non-null  float64
 1   Delitos asociados a drogas                13104 non-null  float64
 2   Delitos asociados a armas                 13104 non-null  float64
 3   Delitos contra la propiedad no violentos  13104 non-null  float64
 4   Incivilidades                             13104 non-null  float64
 5   Otros delitos o faltas                    13104 non-null  float64
 6   fecha                                     13104 non-null  datetime64[ns]
 7   Comuna_name                               13104 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 921.4+ KB

,Delitos violentos,Delitos asociados a drogas,Delitos asociados a armas,Delitos contra la propiedad no violentos,Incivilidades,Otros delitos o faltas,fecha,Comuna_name
1,45.0,0.0,5.0,85.0,91.0,69.0,2018-01-01,Santiago
2,47.0,3.0,1.0,61.0,106.0,89.0,2018-02-01,Santiago
3,35.0,1.0,0.0,43.0,44.0,57.0,2018-03-01,Santiago
4,30.0,1.0,1.0,40.0,36.0,47.0,2018-04-01,Santiago
5,24.0,1.0,3.0,46.0,46.0,50.0,2018-05-01,Santiago
...,...,...,...,...,...,...,...,...
80,0.0,0.0,0.0,0.0,0.0,0.0,2024-08-01,Reñaca
81,0.0,0.0,0.0,0.0,0.0,0.0,2024-09-01,Reñaca
82,0.0,0.0,0.0,0.0,0.0,0.0,2024-10-01,Reñaca
83,0.0,0.0,0.0,0.0,0.0,0.0,2024-11-01,Reñaca
84,0.0,0.0,0.0,0.0,0.0,0.0,2024-12-01,Reñaca

## Carga de Datos del Índice de Corrupción
A continuación, cargaremos los datos almacenados en la carpeta que contiene información sobre los índices de corrupción en las comunas de la Región Metropolitana de Chile. Estos datos constituirán la base de nuestro análisis, permitiéndonos examinar variaciones y tendencias relevantes dentro del contexto del proyecto. Cabe mencionar que, no se ha logrado obtener una gran cantidad de información en esta área.

In [34]:
%cd "datos de corupcion"

df_corrupcion = pd.read_parquet("DataFrames_corupcion.parquet")

%cd ..

df_corrupcion.info()
df_corrupcion

c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024\datos de corupcion
c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Año          14 non-null     int64
 1   Año inicio   8 non-null      float64
 2   Año fin      8 non-null      float64
 3   Monto        14 non-null     object
 4   Sector       14 non-null     object
 5   Comuna       14 non-null     object
 6   Posición     13 non-null     object
 7   Perjudicado  9 non-null      object
 8   Delitos      12 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.1+ KB

,Año,Año inicio,Año fin,Monto,Sector,Comuna,Posición,Perjudicado,Delitos
0,2024,NaN,NaN,41.000.000.000,Derecha,Maipú,Alcalde,Municipio,fraude al fisco y falsificación de instrumento...
1,2021,2017.0,2020.0,10.210.000.000,Centro,San Joaquín,Alcalde,Municipio,saldos no rendidos ni justificados
2,2024,NaN,NaN,8.000.000.000,Derecha,Las Condes,Alcalde,None,"fraude al fisco, asignación de horas extras"
3,2023,NaN,NaN,4.500.000.000,Derecha,Vitacura,Alcalde,Municipio,"malversación de caudales públicos, fraude al F..."
4,2020,2020.0,2022.0,1.600.000.000,Izquierda,Providencia,Funcionario municipal,Municipio,"malversación de caudales públicos, aplicación ..."
5,2022,2020.0,2023.0,1.291.937.035,Izquierda,Recoleta,Alcalde,None,None
6,2020,2020.0,2024.0,816.000.000,Derecha,Santiago,None,Fisco,"corrupción, soborno, cohecho, financiamiento i..."
7,2018,NaN,NaN,680.000.000,Derecha,Lo Barnechea,Alcalde,Municipio,"malversación de caudales públicos, fraude al F..."
8,2024,2019.0,2024.0,200.000.000,Izquierda,Recoleta,Alcalde,None,"cohecho, administración desleal, fraude al Fis..."
9,2021,NaN,NaN,188.000.000,Derecha,Santiago,Alcalde,None,"Pagos de horas extra, pagos de honorarios"
10,2024,2015.0,2021.0,176.000.000,Derecha,Ñuñoa,Alcalde,Municipio,Fraude al fisco
11,2020,NaN,NaN,59.595.096,Derecha,Las Condes,Alcalde,None,None
12,2019,2017.0,2019.0,31.000.000,Izquierda,Providencia,Alcalde,Municipio,Pago de horas extra
13,2023,2023.0,2024.0,20.000.000,Izquierda,Recoleta,Alcalde,Municipio,"cohecho, fraude al fisco, estafa, administraci..."

## Carga de Archivos Geolocalizados
A continuación, cargaremos el archivo que contiene información geolocalizada. Esto nos permitirá crear representaciones gráficas para visualizar mejor los cambios y tendencias, especialmente en aquellos aspectos clave que queremos analizar en el contexto del proyecto.

In [35]:
%cd "datos de mapas"

# df_mapa = gpd.read_file("comunas.shp")

%cd ..

# df_mapa.info()
# df_mapa (mi computadora tiene errores con esto... no se porque)

c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024\datos de mapas
c:\Users\jpose75\Documents\GitHub\imt2200---actividad-2024

## ahora nos dedicaremos a principalmente de limpiar los datos y acortar todo para que esten en un rango desde el ano 2018 a mediados de 2024

In [36]:
df_ind_crime = df_ind_crime[df_ind_crime["fecha"] <= "2024-06-30"]
df_economia = df_economia[df_economia["mes"] <= "2024-06-30"]

,mes,1.PIB a precios corrientes,2.PIB volumen a precios del año anterior encadenado,3.PIB volumen a precios del año anterior encadenado (desestacionalizado),ingreso mediano real,Mining,Manufacturing,Electricity,Water supply,Construction,...,Administrative and support service activities,Public administration,Education,Human health,Arts and entertainment,"1.Fuerza de trabajo ( promedio móvil trimestral, miles de personas )","2.Empleo ( promedio móvil trimestral, miles de personas )",3.Tasa de desempleo (porcentaje),indice de precios consumidor,indice de Precios Selectivo de Acciones
0,2018-01-01,46986.271371,46511.870532,46837.401890,109.38,105.82,107.48,112.61,109.26,110.41,...,107.46,111.54,112.71,107.82,105.61,9438.115290,8793.922635,6.825437,74.27,5855.38
1,2018-02-01,46986.271371,46511.870532,46837.401890,108.97,105.75,107.39,110.06,109.40,110.93,...,103.69,111.32,112.85,108.88,104.70,9449.494321,8787.079741,7.010053,74.31,5602.83
2,2018-03-01,46986.271371,46511.870532,46837.401890,109.53,105.57,107.93,112.35,114.01,110.93,...,106.72,111.84,112.29,110.55,105.31,9456.608476,8759.080753,7.376088,74.46,5542.22
3,2018-04-01,47033.691982,47707.607554,47461.533987,109.84,107.08,108.77,110.00,110.75,111.72,...,105.35,111.71,112.48,110.81,105.57,9441.395486,8781.083740,6.993794,74.70,5710.90
4,2018-05-01,47033.691982,47707.607554,47461.533987,109.69,105.03,108.61,111.30,110.72,112.88,...,106.15,111.34,112.78,111.01,104.66,9465.329449,8766.651220,7.381446,74.90,5455.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2024-02-01,NaN,NaN,NaN,158.13,160.50,160.70,152.19,162.73,158.77,...,155.63,149.66,158.40,159.65,164.47,10174.908428,9309.608094,8.504257,102.32,6449.88
74,2024-03-01,NaN,NaN,NaN,159.19,163.57,161.52,159.05,163.00,159.10,...,156.55,150.97,160.43,161.30,167.77,10193.230625,9308.684701,8.677778,102.70,6643.76
75,2024-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10209.534117,9339.295511,8.523784,103.24,6511.93
76,2024-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10177.707624,9331.646959,8.312880,103.52,6632.80
77,2024-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10170.424862,9321.379688,8.348178,103.42,6413.88